[submodule "services/account"]
	path = services/account
	url = https://github.com/nx-mod/nextendo-account.git
	branch = testing
[submodule "games/acnh"]
	path = games/acnh
	url = https://github.com/nx-mod/nextendo-acnh.git
	branch = testing
[submodule "games/advance-wars-nx"]
	path = games/advance-wars-nx
	url = https://github.com/nx-mod/nextendo-advance-wars-nx.git
	branch = testing
[submodule "clients/app-android"]
	path = clients/app-android
	url = https://github.com/nx-mod/nextendo-app-android.git
	branch = testing
[submodule "clients/app-ios"]
	path = clients/app-ios
	url = https://github.com/nx-mod/nextendo-app-ios.git
	branch = testing
[submodule "services/baas-jwks"]
	path = services/baas-jwks
	url = https://github.com/nx-mod/nextendo-baas-jwks.git
	branch = testing
[submodule "console/bcat-mitm-nx"]
	path = console/bcat-mitm-nx
	url = https://github.com/nx-mod/nextendo-bcat-mitm-nx.git
	branch = testing
[submodule "services/bcat-nx"]
	path = services/bcat-nx
	url = https://github.com/nx-mod/nextendo-bcat-nx.git
	branch = testing
[submodule "games/borderlands-1-nx"]
	path = games/borderlands-1-nx
	url = https://github.com/nx-mod/nextendo-borderlands-1-nx.git
	branch = testing
[submodule "clients/citron"]
	path = clients/citron
	url = https://github.com/nx-mod/nextendo-citron.git
	branch = testing-android
[submodule "clients/citron-android"]
	path = clients/citron-android
	url = https://github.com/nx-mod/nextendo-citron-android.git
	branch = testing
[submodule "services/dashboard"]
	path = services/dashboard
	url = https://github.com/nx-mod/nextendo-dashboard.git
	branch = testing
[submodule "services/dauth"]
	path = services/dauth
	url = https://github.com/nx-mod/nextendo-dauth.git
	branch = testing
[submodule "games/diablo-3-nx"]
	path = games/diablo-3-nx
	url = https://github.com/nx-mod/nextendo-diablo-3-nx.git
	branch = testing
[submodule "services/docs"]
	path = services/docs
	url = https://github.com/nx-mod/nextendo-docs.git
	branch = testing
[submodule "services/eos-nx"]
	path = services/eos-nx
	url = https://github.com/nx-mod/nextendo-eos-nx.git
	branch = testing
[submodule "services/gamespy-nx"]
	path = services/gamespy-nx
	url = https://github.com/nx-mod/nextendo-gamespy-nx.git
	branch = testing
[submodule "services/nex"]
	path = services/nex
	url = https://github.com/nx-mod/nextendo-nex.git
	branch = testing
[submodule "services/nncs"]
	path = services/nncs
	url = https://github.com/nx-mod/nextendo-nncs.git
	branch = testing
[submodule "services/npns-nx"]
	path = services/npns-nx
	url = https://github.com/nx-mod/nextendo-npns-nx.git
	branch = testing
[submodule "console/prelude"]
	path = console/prelude
	url = https://github.com/nx-mod/nextendo-prelude.git
	branch = testing
[submodule "clients/ryujinx"]
	path = clients/ryujinx
	url = https://github.com/nx-mod/nextendo-ryujinx.git
	branch = testing
[submodule "services/scsi"]
	path = services/scsi
	url = https://github.com/nx-mod/nextendo-scsi.git
	branch = testing
[submodule "services/site"]
	path = services/site
	url = https://github.com/nx-mod/nextendo-site.git
	branch = testing
[submodule "services/sni-router"]
	path = services/sni-router
	url = https://github.com/nx-mod/nextendo-sni-router.git
	branch = testing
[submodule "games/ssbu"]
	path = games/ssbu
	url = https://github.com/nx-mod/nextendo-ssbu.git
	branch = testing
[submodule "services/tagaya-nx"]
	path = services/tagaya-nx
	url = https://github.com/nx-mod/nextendo-tagaya-nx.git
	branch = testing
[submodule "services/telemetry-nx"]
	path = services/telemetry-nx
	url = https://github.com/nx-mod/nextendo-telemetry-nx.git
	branch = testing
[submodule "games/torchlight-2-nx"]
	path = games/torchlight-2-nx
	url = https://github.com/nx-mod/nextendo-torchlight-2-nx.git
	branch = testing
[submodule "services/nnaccount-nx"]
	path = services/nnaccount-nx
	url = https://github.com/nx-mod/nextendo-nnaccount-nx.git
	branch = testing
[submodule "services/tls-front"]
	path = services/tls-front
	url = https://github.com/nx-mod/nextendo-tls-front.git
	branch = testing
[submodule "games/arms"]
	path = games/arms
	url = https://github.com/nx-mod/nextendo-arms.git
	branch = testing
[submodule "games/clubhouse-games-51"]
	path = games/clubhouse-games-51
	url = https://github.com/nx-mod/nextendo-clubhouse-games-51.git
	branch = testing
[submodule "games/kirbys-dream-buffet"]
	path = games/kirbys-dream-buffet
	url = https://github.com/nx-mod/nextendo-kirbys-dream-buffet.git
	branch = testing
[submodule "games/luigis-mansion-3"]
	path = games/luigis-mansion-3
	url = https://github.com/nx-mod/nextendo-luigis-mansion-3.git
	branch = testing
[submodule "games/mario-golf-super-rush"]
	path = games/mario-golf-super-rush
	url = https://github.com/nx-mod/nextendo-mario-golf-super-rush.git
	branch = testing
[submodule "games/mario-kart-8-deluxe"]
	path = games/mario-kart-8-deluxe
	url = https://github.com/nx-mod/nextendo-mario-kart-8-deluxe.git
	branch = testing
[submodule "games/mario-party-superstars"]
	path = games/mario-party-superstars
	url = https://github.com/nx-mod/nextendo-mario-party-superstars.git
	branch = testing
[submodule "games/mario-strikers"]
	path = games/mario-strikers
	url = https://github.com/nx-mod/nextendo-mario-strikers.git
	branch = testing
[submodule "games/mario-tennis-aces"]
	path = games/mario-tennis-aces
	url = https://github.com/nx-mod/nextendo-mario-tennis-aces.git
	branch = testing
[submodule "games/metal-gear-solid-peacewalker"]
	path = games/metal-gear-solid-peacewalker
	url = https://github.com/nx-mod/nextendo-metal-gear-solid-peacewalker.git
	branch = testing
[submodule "games/minecraft"]
	path = games/minecraft
	url = https://github.com/nx-mod/nextendo-minecraft.git
	branch = testing
[submodule "games/monster-hunter-generations-ultimate"]
	path = games/monster-hunter-generations-ultimate
	url = https://github.com/nx-mod/nextendo-monster-hunter-generations-ultimate.git
	branch = testing
[submodule "games/splatoon-2"]
	path = games/splatoon-2
	url = https://github.com/nx-mod/nextendo-splatoon-2.git
	branch = testing
[submodule "games/splatoon-3"]
	path = games/splatoon-3
	url = https://github.com/nx-mod/nextendo-splatoon-3.git
	branch = testing
[submodule "games/super-mario-3d-world"]
	path = games/super-mario-3d-world
	url = https://github.com/nx-mod/nextendo-super-mario-3d-world.git
	branch = testing
[submodule "games/super-mario-bros-35"]
	path = games/super-mario-bros-35
	url = https://github.com/nx-mod/nextendo-super-mario-bros-35.git
	branch = testing
[submodule "games/super-mario-bros-wonder"]
	path = games/super-mario-bros-wonder
	url = https://github.com/nx-mod/nextendo-super-mario-bros-wonder.git
	branch = testing
[submodule "games/super-mario-maker-2"]
	path = games/super-mario-maker-2
	url = https://github.com/nx-mod/nextendo-super-mario-maker-2.git
	branch = testing
[submodule "games/super-mario-odyssey"]
	path = games/super-mario-odyssey
	url = https://github.com/nx-mod/nextendo-super-mario-odyssey.git
	branch = testing
[submodule "games/crash-team-racing"]
	path = games/crash-team-racing
	url = https://github.com/nx-mod/nextendo-crash-team-racing.git
	branch = testing
